.roomCard {
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 15px;
  }
  
  .roomCard:hover{
    background: #f3f3f5;
    cursor: pointer;
  }
  .roomCard h3 {
    margin-top: 0;
    margin-bottom: 10px;
  }
  
  .roomCard p {
    margin-bottom: 8px;
  }
  
  .roomCard img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 4px;
    margin-bottom: 10px;
  }