.card{
    width: 500px;
    height: 12rem;
    overflow: hidden;
    border: 1px solid #bfbebe;
    border-radius: 25px;
}

.image{
    width: 100%;
    height: 60%;
}

.image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.desc{
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    row-gap: 0.5rem;
    padding-left: 1rem;
}